/* 
FONT COLORS
MAIN COLOR:   color: rgb(23, 75, 245)
HOVER COLOR:  color: rgba(0, 89, 255, 0.534)

DETAIL CONTENT: color: rgba(255, 255, 255, 0.856);

color: rgb(0, 89, 255);
color: rgb(1, 72, 204);
color: rgb(26, 96, 224);
color: rgba(0, 89, 255, 0.514)

BOX SHADOW COMBINATIONS:
box-shadow: 1px 1px 15px 10px grey;
/* offset-x | offset-y | blur-radius | spread-radius | color */
/* box-shadow: 1px 1px 75px 10px grey; */
/* box-shadow: 50px 32px 0px red, 1px 1px 55px rgb(23 75 245); */
/* box-shadow: 50px 32px 0px red, 1px 1px 55px rgb(23 75 245); */
/* box-shadow: 30px 22px 0px rgb(190, 190, 190), 1px 1px 55px rgb(23 75 245); */
/* box-shadow: 30px 22px 0px rgb(190, 190, 190), 1px -10px 55px rgb(23 75 245),
    -15px 1px 53px 0px red; */
/* box-shadow: 30px 22px 0px rgb(190, 190, 190), 1px 1px 55px rgb(23 75 245); */
/* box-shadow: 50px 1px 55px red, 1px 1px 55px rgb(23, 75, 245); */
/* box-shadow: 50px 1px 55px rgba(0, 204, 255, 0.692),
    1px 1px 55px rgb(23, 75, 245); 

BACKGROUND COLOR
background-color: rgb(15, 15, 15);
*/

* {
  margin: 0;
  padding: 0;
  color: rgb(23, 75, 245);
  box-sizing: border-box;
  /* background-color: rgb(27, 27, 27); */
  background-color: rgb(31, 31, 31);
}

html {
  /* 1 rem = 10px */
  font-size: 62.5%;
  font-family: rubik;
  font-weight: 600;
  scroll-behavior: smooth;
}

/******************************************************/
/* REUSEABLE SECTION */
/******************************************************/

.container {
  /* centers our content */
  margin: 0 auto;
  max-width: 120rem;
  height: 80rem;
  /* border: 0.25rem solid rgb(23, 75, 245); */
}

/* Exterior */
.box-shadow {
  box-shadow: 34px 30px 0px rgb(190 190 190), 1px 1px 55px rgb(23 75 245);
}

/* Blue Brand Glow */
.box-shadow-2 {
  box-shadow: 1px 1px 55px rgb(23 75 245);
}

/* White Brand Glow */
.box-shadow-3 {
  box-shadow: 1px 1px 55px rgb(190 190 190);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* quick flex attribute to organize our section */
.flex-container {
  display: flex;
}

/* centers our headers */
.heading-center {
  text-align: center;
  margin: 2rem;
}

.heading-detail {
  text-align: center;
  margin: 2rem 2rem 2rem 2rem;
  font-size: 3.3rem;

  /* Changes font style for our detail headers */
  font-family: splash;
  font-size: 5rem;
  font-weight: 400;
}

/* underline important text */
.emph {
  text-decoration: underline rgba(255, 255, 255, 0.856);
  text-decoration-thickness: 2px;
}

/* for section spacing */
.spacing {
  margin-bottom: 12rem;
}

/* gives text the "splash" font style */
.font-style {
  font-family: splash;
  font-size: 5rem;
  font-weight: 500;
}

/* color for our asterisks within form to match blue/white brand colors*/
.astr {
  color: white;
}

/******************************************************/
/* NAV SECTION */
/******************************************************/
.logo {
  font-size: 3rem;
  margin: 1rem;
  /* background-color: rgba(170, 5, 5, 0); */
  color: rgb(23, 75, 245);
  font-family: splash;
  font-weight: 400;
  margin-left: 2rem;
  text-decoration: none;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.25rem solid rgb(23, 75, 245);
}
.nav-list {
  display: flex;
  align-items: center;
  margin: 1rem;
  margin-right: 2rem;
  gap: 2rem;
  list-style: none;
}

.nav-btn {
  font-size: 1.6rem;
  text-decoration: none;
}

.nav-btn:hover,
.nav-btn:active {
  cursor: pointer;
  /* color: rgba(0, 89, 255, 0.534); */
  color: rgba(255, 255, 255, 0.856);
}

.hero-section {
  position: relative;
}

.down-arrow {
  /* uses hero-section to positon */
  position: absolute;
  font-size: 5rem;
  bottom: 3%;
  left: 50%;
  background: none;
  cursor: pointer;
  color: rgb(65, 65, 65);
}

.down-arrow:hover,
.down-arrow:active {
  /* slightly increases buttons size during hover*/
  transform: scale(1.2);
  /* slows animation down for a smoother button size increase */
  transition: 300ms;
}

.hero-image {
  width: 100vw;
  height: 80vh;
}

/******************************************************/
/* COMPANY SECTION */
/******************************************************/

.company-section {
  font-size: 2.4rem;
  position: relative;
}

.company-heading {
  text-align: center;
  margin: 0rem 2rem 2rem 2rem;
  font-size: 3.3rem;

  /* Changes font style for our detail headers */
  font-family: splash;
  font-size: 5rem;
  font-weight: 400;
}

.company-description {
  text-align: center;
  font-size: 1.8rem;
  padding: 0 20rem 0 20rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.856);
}

.company-container {
  /* centers our content */
  margin: 0 auto;
  max-width: 120rem;
  height: 55rem;
  margin-bottom: 12rem;
  margin-top: 7rem;
  /* border: 0.25rem solid rgb(23, 75, 245); */
}

.company-appointment-btn {
  font-size: 1.7rem;
  border-radius: 12px;
  border: 0.25rem solid rgb(23, 75, 245);
  padding: 1rem;
  text-decoration: none;

  /* Fixes buttons from overlapping */
  display: inline-block;

  /* position to the bottom of section */
  position: absolute;
  bottom: 5%;
  left: 47%;
}

.company-appointment-btn:active,
.company-appointment-btn:hover {
  /* color: rgb(23, 138, 245);
  border-color: rgb(23, 138, 245); */
  color: rgba(255, 255, 255, 0.856);
  border-color: rgba(255, 255, 255, 0.856);
}

.contact-btn {
  font-size: 1.7rem;
  text-decoration: none;
  border: 0.25rem solid rgb(23, 75, 245);
  border-radius: 12px;
  padding: 1rem;

  position: absolute;
  bottom: 5%;
  left: 35%;
  right: 55%;
  /* display: inline-block; */
}

.contact-btn:hover,
.contact-btn:active {
  /* color: rgb(23, 138, 245);
  border-color: rgb(23, 138, 245); */
  color: rgba(255, 255, 255, 0.856);
  border-color: rgba(255, 255, 255, 0.856);
}

/******************************************************/
/* DETAILING SECTION */
/******************************************************/

.detail-section {
  font-size: 2rem;
  margin-bottom: 8rem;
}

/* image on left-hand side */
.detail-image {
  width: 95%;
  height: 80rem;
}

/* image on right-hand side */
.detail-image-right {
  width: 100%;
  height: 80rem;
  padding-left: 2rem;
}

.detail-description {
  font-size: 2.5rem;
  /* To position our buttons at the bottom */
  position: relative;
}

/* content on RIGHT-HAND side */
.detail-content {
  padding-right: 2rem;
  margin-bottom: 2rem;
  line-height: 4rem;
  font-size: 1.8rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.856);
}

/* content on LEFT-HAND side */
.detail-content-left {
  padding-left: 2rem;
  margin-bottom: 2rem;
  line-height: 4rem;
  font-size: 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.856);
}

.detail-list {
  margin-top: 5rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
  list-style: none;
  margin-left: 1rem;
}

.detail-list-left {
  margin-top: 5rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
  list-style: none;
  margin-left: 5rem;
}

.checkmark {
  color: green;
  margin-right: 1rem;
}

.price-content {
  text-align: center;
  margin-bottom: 2rem;

  position: absolute;
  bottom: 20%;
  left: 15%;
}

.price {
  font-size: 3.6rem;
}

.price-text {
  font-size: 2.6rem;
}
.price-note {
  margin-top: 0.7rem;
  font-size: 1.3rem;
  color: #555;
}

.quote-btn {
  font-size: 1.7rem;
  border-radius: 12px;
  border: 0.25rem solid rgb(23, 75, 245);
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 18%;
}

.appointment-btn {
  font-size: 1.7rem;
  border-radius: 12px;
  border: 0.25rem solid rgb(23, 75, 245);
  padding: 1rem;
  text-decoration: none;

  /* Fixes buttons from overlapping */
  display: inline-block;

  /* position to the bottom of section */
  position: absolute;
  bottom: 5%;
  left: 47%;
}

.quote-btn:active,
.quote-btn:hover {
  /* color: rgb(23, 138, 245);
  border-color: rgb(23, 138, 245); */
  color: rgba(255, 255, 255, 0.856);
  border-color: rgba(255, 255, 255, 0.856);
}

.appointment-btn:active,
.appointment-btn:hover {
  /* color: rgb(23, 138, 245);
  border-color: rgb(23, 138, 245); */
  color: rgba(255, 255, 255, 0.856);
  border-color: rgba(255, 255, 255, 0.856);
}

/***************************************/
/* APPOINTMENT SECTION */
/***************************************/

.appointment-section {
  font-size: 3rem;
  position: relative;
}

.appointment-container {
  margin: 0 auto;
  width: 90rem;
  height: 60rem;
  margin-bottom: 8rem;
}

.appointment-heading {
  text-align: center;
  margin-bottom: 1rem;
}

.appointment-message {
  font-size: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.form-box {
  font-size: 1.4rem;
  margin-left: 2rem;
  gap: 4rem;
  padding: 1rem;
}

.service-checkbox {
  font-size: 2rem;
}

.service-types {
  /* 2x2 grid inside Service fieldset */
  display: grid;
  grid-template-columns: 2fr 1fr;

  width: 67%;
  margin: 2rem;
  margin-left: 13rem;
  padding: 2rem;
  font-size: 2.2rem;
}

.service-types label {
  font-size: 1.8rem;
}
.car-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 5rem;
  width: 50%;
  margin-left: 5rem;
}

/* Styling Input text boxes */
.form-box input {
  font-size: 1.6rem;
  border-radius: 12px;
  padding: 1rem;
  border: 0.25rem solid rgb(23, 75, 245);
  margin-top: 1rem;
  width: 22rem;
}

.form-box select {
  font-size: 1.6rem;
  border-radius: 12px;
  padding: 1rem;
  padding-right: 6rem;
  border: 0.25rem solid rgb(23, 75, 245);
  margin-top: 1rem;
}

/* lighter gray for placeholder text */
input::placeholder {
  color: rgba(119, 119, 119, 0.5);
  font-size: 1.6rem;
  padding-left: 0.5rem;
}

fieldset {
  /* colors fieldset border white */
  border: 0.25rem solid white;
}

.submit-btn {
  font-size: 1.6rem;
  padding: 1rem 15rem 1rem 15rem;
  border-radius: 12px;
  border: 0.25rem solid rgb(23, 75, 245);

  /* positioning submit bottom at the bottom/center of form */
  position: absolute;
  left: 30%;
  bottom: 8%;
}

.submit-btn:hover,
.submit-btn:active {
  color: white;
  border: 0.25rem solid white;
  margin-top: 3rem;
}

/******************************************************/
/* CONTACT SECTION */
/******************************************************/

.contact-section {
  margin-top: 15rem;
  margin-bottom: 10rem;
}

.contact-container {
  border: 0.25rem solid rgb(23, 75, 245);
  margin: 0 auto;
  width: 80rem;
  height: 31rem;
  border-radius: 15px;
  padding-left: 2rem;
  font-size: 2rem;
}

.contact-description {
  text-align: left;
  font-size: 1.8rem;
  width: 90%;
  color: white;
  /* line up with Email label */
  margin-top: 2.1rem;
  margin-bottom: 1rem;
}

/* giving our contact text a different text color */
.contact-text {
  color: white;
}

/* styling our submit button */
.contact-submit-btn {
  font-size: 1.6rem;
  padding-top: 2rem;
  padding: 1rem 12rem 1rem 12rem;
  border-radius: 15px;
  border: 0.25rem solid rgb(23, 75, 245);
}

.contact-submit-btn:active,
.contact-submit-btn:hover {
  border: 0.25rem solid white;
  color: white;
  cursor: pointer;
}

.contact-submit {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Lining up items vertically */
.contact-submit label {
  display: block;
  margin-bottom: 0.5rem;
}

/* Styling input textbox */
.contact-submit input {
  margin: 0.8rem 0 0.8rem 0;
  font-size: 2.3rem;
  border-radius: 9px;
  background-color: white;
}

/* .contact-submit {
  inl
} */

/* holding our whole text section */
.content-left {
  width: 90%;
  margin-left: 2rem;
}

.content-right {
  margin-left: 5rem;
  align-items: center;
  justify-content: center;
}
/* 2 grid items */
.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-image {
  width: 40rem;
  height: 40rem;
  height: 100%;
}

.content-note {
  font-size: 1.6rem;
  color: #555;
}

/********************************************************/
/* TESTIMONIALS SECTION - PAGE */
/********************************************************/

.testimonial-test {
  font-size: 10rem;
}
