/* 
FONT COLORS
MAIN COLOR:   color: rgb(23, 75, 245)
HOVER COLOR:  color: rgba(0, 89, 255, 0.534)

color: rgb(0, 89, 255);
color: rgb(1, 72, 204);
color: rgb(26, 96, 224);
color: rgba(0, 89, 255, 0.514)


BACKGROUND COLOR
background-color: rgb(15, 15, 15);
*/

* {
  margin: 0;
  padding: 0;
  color: rgb(23, 75, 245);
  box-sizing: border-box;
  background-color: rgb(15, 15, 15);
}

html {
  /* 1 rem = 10px */
  font-size: 62.5%;
  /* font-family: rubik; */
  font-family: rubik;
  font-weight: 600;
}

/******************************************************/
/* REUSEABLE SECTION */
/******************************************************/

.container {
  /* centers our content */
  margin: 0 auto;
  max-width: 120rem;
  height: 80rem;
  border: 0.25rem solid rgb(23, 75, 245);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* quick flex attribute to organize our section */
.flex-container {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

/* centers our headers */
.heading-center {
  text-align: center;
  margin: 2rem;
}

.heading-detail {
  text-align: center;
  margin: 2rem;
  font-size: 3.3rem;
}

/* underline important text */
.emph {
  text-decoration: underline double red;
}

/* for section spacing */
.spacing {
  margin-bottom: 8rem;
}

/******************************************************/
/* NAV SECTION */
/******************************************************/
.logo {
  font-size: 3rem;
  margin: 1rem;
  /* background-color: rgba(170, 5, 5, 0); */
  color: rgb(23, 75, 245);
  font-family: splash;
  font-weight: 600;
  margin-left: 6rem;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.25rem solid rgb(23, 75, 245);
  /* border-bottom: 0.25rem solid rgba(22, 8, 223, 0.822); */
}
.nav-list {
  display: flex;
  align-items: center;
  margin: 1rem;
  font-size: 1.6rem;
  gap: 2rem;
  list-style: none;
}

.nav-btn {
}

.nav-btn:link,
.nav-btn:visited {
}

.nav-btn:hover,
.nav-btn:active {
  cursor: pointer;
  color: rgba(0, 89, 255, 0.534);
  /* background-color: #999; */
}

.hero-section {
  position: relative;
}

.hero-image {
  /* max-width: 100vw; */
  width: 100vw;
  /* height: 80rem; */
  height: 100vh;
  /* max-height: 100vh; */

  /* position: absolute; */
  /* z-index: -999; */
  /* top: 50%; */

  /* background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url("../img/hero-image2.jpg"); */
}

/******************************************************/
/* COMPANY SECTION */
/******************************************************/

.company-section {
  font-size: 2.4rem;
}

.company-description {
  text-align: center;
  /* width: 75%; */
  /* width: 50%; */
  font-size: 1.8rem;
  padding: 0 20rem 0 20rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.company-container {
  /* centers our content */
  margin: 0 auto;
  max-width: 120rem;
  height: 50rem;
  border: 0.25rem solid rgb(23, 75, 245);
  margin-bottom: 6rem;
}

/******************************************************/
/* DETAILING SECTION */
/******************************************************/

.detail-section {
  font-size: 2rem;
  margin-bottom: 8rem;
}

/* image on left-hand side */
.detail-image {
  width: 95%;
  height: 80rem;
}

/* image on right-hand side */
.detail-image-right {
  width: 100%;
  height: 80rem;
  /* justify-content: right; */
  /* grid-area: right; */
  padding-left: 2rem;
}

.detail-description {
  font-size: 2.5rem;
  /* To position our buttons at the bottom */
  position: relative;
}

/* content on right-hand side */
.detail-content {
  padding-right: 2rem;
  padding-top: 10rem;
  margin-bottom: 2rem;
  line-height: 4rem;
  font-size: 2.8rem;
  text-align: center;
}

/* content on left-hand side */
.detail-content-left {
  padding-left: 2rem;
  padding-top: 10rem;
  margin-bottom: 2rem;
  line-height: 4rem;
  font-size: 2.8rem;
  text-align: center;
}

.price-content {
  text-align: center;
  margin-bottom: 2rem;

  position: absolute;
  bottom: 20%;
  left: 15%;
}

.price {
  /* color: purple; */
  font-size: 3.2rem;
}

.price-text {
  font-size: 2rem;
}
.price-note {
  margin-top: 0.7rem;
  font-size: 1.3rem;
  /* width: 50%; */
  color: #555;
}

.quote-btn {
  font-size: 1.7rem;
  border-radius: 12px;
  /* background-color: rgb(23, 119, 245); */
  border: 0.25rem solid rgb(23, 75, 245);
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 18%;
}

.appointment-btn {
  font-size: 1.7rem;
  border-radius: 12px;
  /* background-color: rgb(23, 119, 245); */
  border: 0.25rem solid rgb(23, 75, 245);
  padding: 1rem;
  text-decoration: none;
  /* Fixes buttons from overlapping */
  display: inline-block;

  /* position to the bottom of section */
  position: absolute;
  bottom: 5%;
  left: 47%;
}

.quote-btn:active,
.quote-btn:hover {
  color: rgb(23, 138, 245);
  border-color: rgb(23, 138, 245);
}

.appointment-btn:active,
.appointment-btn:hover {
  color: rgb(23, 138, 245);
  border-color: rgb(23, 138, 245);
}
