/* 
FONT COLORS
MAIN COLOR:   color: rgb(23, 75, 245)
HOVER COLOR:  color: rgba(0, 89, 255, 0.534)

DETAIL CONTENT: color: rgba(255, 255, 255, 0.856);

color: rgb(0, 89, 255);
color: rgb(1, 72, 204);
color: rgb(26, 96, 224);
color: rgba(0, 89, 255, 0.514)

BOX SHADOW COMBINATIONS:
box-shadow: 1px 1px 15px 10px grey;
/* offset-x | offset-y | blur-radius | spread-radius | color */
/* box-shadow: 1px 1px 75px 10px grey; */
/* box-shadow: 50px 32px 0px red, 1px 1px 55px rgb(23 75 245); */
/* box-shadow: 50px 32px 0px red, 1px 1px 55px rgb(23 75 245); */
/* box-shadow: 30px 22px 0px rgb(190, 190, 190), 1px 1px 55px rgb(23 75 245); */
/* box-shadow: 30px 22px 0px rgb(190, 190, 190), 1px -10px 55px rgb(23 75 245),
    -15px 1px 53px 0px red; */
/* box-shadow: 30px 22px 0px rgb(190, 190, 190), 1px 1px 55px rgb(23 75 245); */
/* box-shadow: 50px 1px 55px red, 1px 1px 55px rgb(23, 75, 245); */
/* box-shadow: 50px 1px 55px rgba(0, 204, 255, 0.692),
    1px 1px 55px rgb(23, 75, 245); 

BACKGROUND COLOR
background-color: rgb(15, 15, 15);
*/

* {
  margin: 0;
  padding: 0;
  color: rgb(23, 75, 245);
  box-sizing: border-box;
  /* background-color: rgb(27, 27, 27); */
  background-color: rgb(31, 31, 31);
}

html {
  /* 1 rem = 10px */
  font-size: 62.5%;
  font-family: rubik;
  font-weight: 600;
  scroll-behavior: smooth;
}

/******************************************************/
/* REUSEABLE SECTION */
/******************************************************/

.container {
  /* centers our content */
  margin: 0 auto;
  max-width: 120rem;
  height: 80rem;
  /* border: 0.25rem solid rgb(23, 75, 245); */
  /* box-shadow: 0px 2px 0px red; */
}

/* Exterior */
.box-shadow {
  box-shadow: 34px 30px 0px rgb(190 190 190), 1px 1px 55px rgb(23 75 245);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* quick flex attribute to organize our section */
.flex-container {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

/* centers our headers */
.heading-center {
  text-align: center;
  margin: 2rem;
}

.heading-detail {
  text-align: center;
  margin: 2rem;
  font-size: 3.3rem;

  /* Changes font style for our detail headers */
  font-family: splash;
  font-size: 5rem;
  font-weight: 400;
}

/* underline important text */
.emph {
  /* text-decoration: underline double red; */
  /* display: block; */
  /* text-decoration-thickness: 10rem; */
  text-decoration: underline rgba(255, 255, 255, 0.856);
  text-decoration-thickness: 2px;
}

/* for section spacing */
.spacing {
  margin-bottom: 8rem;
}

.font-style {
  font-family: splash;
  font-size: 5rem;
  font-weight: 500;
}

/******************************************************/
/* NAV SECTION */
/******************************************************/
.logo {
  font-size: 3rem;
  margin: 1rem;
  /* background-color: rgba(170, 5, 5, 0); */
  color: rgb(23, 75, 245);
  font-family: splash;
  font-weight: 400;
  margin-left: 6rem;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.25rem solid rgb(23, 75, 245);
  /* border-bottom: 0.25rem solid rgba(22, 8, 223, 0.822); */
}
.nav-list {
  display: flex;
  align-items: center;
  margin: 1rem;
  margin-right: 2rem;
  gap: 2rem;
  list-style: none;
}

.nav-btn {
  font-size: 1.6rem;
  text-decoration: none;
}

.nav-btn:link,
.nav-btn:visited {
}

.nav-btn:hover,
.nav-btn:active {
  cursor: pointer;
  /* color: rgba(0, 89, 255, 0.534); */
  color: rgba(255, 255, 255, 0.856);
}

.hero-section {
  position: relative;
}

.hero-image {
  /* max-width: 100vw; */
  width: 100vw;
  /* height: 80rem; */
  height: 75vh;
  /* max-height: 100vh; */
}

/******************************************************/
/* COMPANY SECTION */
/******************************************************/

.company-section {
  font-size: 2.4rem;
  position: relative;
}

.company-description {
  text-align: center;
  font-size: 1.8rem;
  padding: 0 20rem 0 20rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.856);
}

.company-container {
  /* centers our content */
  margin: 0 auto;
  max-width: 120rem;
  height: 55rem;
  border: 0.25rem solid rgb(23, 75, 245);
  margin-bottom: 6rem;
}

.company-appointment-btn {
  font-size: 1.7rem;
  border-radius: 12px;
  /* background-color: rgb(23, 119, 245); */
  border: 0.25rem solid rgb(23, 75, 245);
  padding: 1rem;
  text-decoration: none;

  /* Fixes buttons from overlapping */
  display: inline-block;

  /* position to the bottom of section */
  position: absolute;
  bottom: 5%;
  left: 47%;
}

.company-appointment-btn:active,
.company-appointment-btn:hover {
  /* color: rgb(23, 138, 245);
  border-color: rgb(23, 138, 245); */
  color: rgba(255, 255, 255, 0.856);
  border-color: rgba(255, 255, 255, 0.856);
}

.contact-btn {
  font-size: 1.7rem;
  text-decoration: none;
  border: 0.25rem solid rgb(23, 75, 245);
  border-radius: 12px;
  padding: 1rem;

  position: absolute;
  bottom: 5%;
  left: 35%;
  right: 55%;
  /* display: inline-block; */
}

.contact-btn:hover,
.contact-btn:active {
  /* color: rgb(23, 138, 245);
  border-color: rgb(23, 138, 245); */
  color: rgba(255, 255, 255, 0.856);
  border-color: rgba(255, 255, 255, 0.856);
}

/******************************************************/
/* DETAILING SECTION */
/******************************************************/

.detail-section {
  font-size: 2rem;
  margin-bottom: 8rem;
}

/* image on left-hand side */
.detail-image {
  width: 95%;
  height: 80rem;
}

/* image on right-hand side */
.detail-image-right {
  width: 100%;
  height: 80rem;
  /* justify-content: right; */
  /* grid-area: right; */
  padding-left: 2rem;
}

.detail-description {
  font-size: 2.5rem;
  /* To position our buttons at the bottom */
  position: relative;
}

/* content on RIGHT-HAND side */
.detail-content {
  padding-right: 2rem;
  /* padding-top: 10rem; */
  margin-bottom: 2rem;
  line-height: 4rem;
  font-size: 1.8rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.856);
}

/* content on LEFT-HAND side */
.detail-content-left {
  padding-left: 2rem;
  /* padding-top: 10rem; */
  margin-bottom: 2rem;
  line-height: 4rem;
  font-size: 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.856);
}

.detail-list {
  margin-top: 5rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
  list-style: none;
  margin-left: 1rem;
  /* text-align: center; */
}

.detail-list-left {
  margin-top: 5rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
  list-style: none;
  margin-left: 5rem;
  /* text-align: center; */
}

.checkmark {
  color: green;
  margin-right: 1rem;
}

.price-content {
  text-align: center;
  margin-bottom: 2rem;

  position: absolute;
  bottom: 20%;
  left: 15%;
}

.price {
  /* font-size: 3.2rem; */
  font-size: 3.6rem;
}

.price-text {
  font-size: 2.6rem;
}
.price-note {
  margin-top: 0.7rem;
  font-size: 1.3rem;
  color: #555;
}

.quote-btn {
  font-size: 1.7rem;
  border-radius: 12px;
  /* background-color: rgb(23, 119, 245); */
  border: 0.25rem solid rgb(23, 75, 245);
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 18%;
}

.appointment-btn {
  font-size: 1.7rem;
  border-radius: 12px;
  /* background-color: rgb(23, 119, 245); */
  border: 0.25rem solid rgb(23, 75, 245);
  padding: 1rem;
  text-decoration: none;
  /* Fixes buttons from overlapping */
  display: inline-block;

  /* position to the bottom of section */
  position: absolute;
  bottom: 5%;
  left: 47%;
}

.quote-btn:active,
.quote-btn:hover {
  /* color: rgb(23, 138, 245);
  border-color: rgb(23, 138, 245); */
  color: rgba(255, 255, 255, 0.856);
  border-color: rgba(255, 255, 255, 0.856);
}

.appointment-btn:active,
.appointment-btn:hover {
  /* color: rgb(23, 138, 245);
  border-color: rgb(23, 138, 245); */
  color: rgba(255, 255, 255, 0.856);
  border-color: rgba(255, 255, 255, 0.856);
}

/***************************************/
/* APPOINTMENT SECTION */
/***************************************/

.appointment-section {
  font-size: 3rem;
  margin-bottom: 8rem;
  /* border: 0.25rem solid blue; */
}

.appointment-container {
  margin: 0 auto;
  width: 100rem;
  height: 60rem;
}

.appointment-heading {
  text-align: center;
}

.appointment-message {
  font-size: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.car-type {
  /* display: block; */
}

.form-box {
  font-size: 2rem;
  margin-left: 2rem;
  gap: 4rem;
  display: block;
}

.service-checkbox {
  font-size: 2rem;
}

.service-types {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 60%;
  margin: 2rem;
  padding: 2rem;
}

.form-items {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  gap: 4rem;
}

/* form input {
  font-size: 2.5rem;
} */

.form-box input {
  font-size: 2rem;
}

/* .appointment-image {
  width: 100rem;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right, rgba(219, 6, 6, 0), rgb(10, 50, 20, 30)),
    url("./img/tachometer.jpg");
} */
